.container {
    max-width: 400px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .label {
    font-weight: bold;
    color: #ff7022;
    font-size: 16px;
  }
  
  .textarea {
    width: 400px;
    padding: 12px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px rgb(174, 174, 174);
    font-size: 16px;
    color: #333;
    outline: none;
    height: 300px; 
    resize: vertical; 
  }
  
  .textarea::placeholder {
    color: #888;
  }
  
  .addButton {
    padding: 12px;
    width: 100%;
    background-color: #ff7022;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #e04c12;
  }