.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 30px;
    box-shadow: 0 2px 4px #202279;
    border-bottom: #202279;
  }
  
  .headerButtons {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .menuToggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    gap: 20px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropbtn {
    background: none;
    border: none;
    color: #202279;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  
  .balance, .loginBtn {
    background: #202279;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  