.main {
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  background-color: grey;
}

.searchContainer input {
  padding: 10px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.categories button {
  padding: 10px 25px;
  margin: 10px;
  border: none;
  background: #D9D9D9;
  color: #202279;
  border-radius: 5px;
  cursor: pointer;
}

.ticketList {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.ticket {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px #202279;
  text-align: center;
  width: 380px;
  cursor: pointer;
}

.ticket img {
  width: 100%;
  border-radius: 10px;
}

.footer {
  background: #202279;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.title {
  color: #1a1b62;
}

