/* components/TicketPhoto.module.css */
.ticketPhoto {
  width: 500px;
  height: 200px;
  background-color: #D9D9D9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  }
  
  .uploadLink {
    color: #0d2b98;
    text-decoration: none;
    cursor: pointer;
  }

  .uploadLink:hover {
    text-decoration: underline;
  }
  
  .preview {
    margin-top: 10px;
  }

.previewContainer {
  position: relative;
  width: 500px;
  height: 200px;
}

.previewImage {
  object-fit: cover;
}
